/node_modules
/public/hot
/public/img/members_photo
/public/img/admins_photo
/public/img/logo
/public/img/slider
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
